<!-- <% layout("layouts/boilerplate")%>
<body>
    <h2>Edit the Details</h2>
    <form action="/listings/<%=listing._id%>?_method=PUT" method="POST" >
    <input type="text" name="listing[title]" value ="<%=listing.title%>""> <br> <br>
    <input type="text" name="listing[description]" value ="<%=listing.description%>"><br> <br>
    <input type="text" name="listing[image]" value ="<%=listing.image%>"> <br> <br>
    <input type="number" name="listing[price]" value ="<%=listing.price%>"> <br> <br>
    <input type="text" name="listing[location]" value ="<%=listing.location%>"> <br> <br>
    <input type="text" name="listing[country]" value ="<%=listing.country%>"> <br>
    <br>
    <button id="submit">Edit</button>
    </form>
</body> -->
<% layout("layouts/boilerplate")%>
<body>
    <h2 class="offset-1">Edit the Details</h2>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <form action="/listings/<%=listing._id%>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" value="<%=listing.title%>" placeholder="Title" class="form-control" required>
                    <div class="invalid-feedback">Title should be valid</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" name="listing[description]" value="<%=listing.description%>" placeholder="Description" class="form-control" required>
                    <div class="invalid-feedback">Description should be valid</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Current Image</label><br>
                    <img src="<%= originalImage%>" alt="">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image</label>
                    <input type="file" name="listing[image]" value="<%=listing.image%>" placeholder="Upload the file" class="form-control">
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="listing[price]" value="<%=listing.price%>" placeholder="1200" class="form-control" required>
                        <div class="invalid-feedback">Price should be valid</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" value="<%=listing.location%>" placeholder="Jaipur,Rajasthan" class="form-control" required>
                        <div class="invalid-feedback">Location should be valid</div>
                    </div>
                </div>
                
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="listing[country]" value="<%=listing.country%>" placeholder="India" class="form-control" required>
                    <div class="invalid-feedback">Country should be valid</div>
                </div>
                <button type="submit" id="edit" class="btn btn-dark mb-3 mt-3">Edit</button>
            </form>
        </div>
    </div>
</body>
