<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Listings</title>
</head>
<body>
    <h2>All Listings</h2>
    <% for(let listing of allListings){ %>
        <div>
            <h3><%=listing.title%></h3>
            <p><%=listing.description%>${listing.description}</p>
            <p><%=listing.price%></p>
            <img src=<%=listing.image%> alt="">
            <p><%=listing.location%></p>
            <p><%=listing.country%></p> <br>
        </div>
<% } %>
</body>
</html>