<% layout("layouts/boilerplate")%>

<body>
    <div class="row mt-3">
        <div class="cols-8 offset-2">
            <h2>Listing Details :</h2>
        </div>
        
            <div class="card col-8">
                <img src="<%=listing.image%>" class="card-img-top show-img" alt="listing_image">
                <div class="card-body">
                  <p class="card-text">
                    <b><%=listing.title%></b> <br>
                    <%=listing.description%> <br>
                    <b>Price:</b> &#8377 <%=listing.price.toLocaleString("en-IN")%>/night <br>
                    <b>Location:</b> <%=listing.location%> <br>
                    <b>Country:</b> <%=listing.country%>
                </p>
                </div>
            </div>
            <!-- <div class="btns">
                <a href="/listings/<%=listing._id%>/edit" class=" btn btn-dark col-1 offset-2">Edit</a>
                    <form action="/listings/<%=listing._id%>?_method=DELETE" method="POST">
                        <button class=" btn btn-dark offset-4">Delete</button>
                    </form>
            </div> -->
    </div>
    <div class="btns mt-3 d-flex justify-content-start ml-3 mb-3">
        <a href="/listings/<%=listing._id%>/edit" class="btn btn-dark mr-3">Edit</a>
        <form action="/listings/<%=listing._id%>?_method=DELETE" method="POST" class="mx-3">
            <button class="btn btn-dark">Delete</button>
        </form>
    </div>
    
</body>
